/* TICKET HOME */



main .ticket-home-data {
	display: flex;
	grid-gap: 20px;
	margin-top: 20px;
	flex-wrap: wrap;
}

main .ticket-home-data .ticket-content-data {
	flex-grow: 1;
	flex-basis: 400px;
	padding: 20px;
	height: 600px;
	background: var(--light);
	border-radius: 10px;
	box-shadow: 4px 4px 16px rgba(0, 0, 0, .1);
}

main .ticket-content-data .ticket-head {
	display: flex;
	position: absolute;
	width: 95%;
	padding: 20px;
	top: 16%;
	border-radius: 3px;
	background-color: orange;
}



main .ticket-content-data .ticket-head h3 {
	font-size: 20px;
	font-weight: 600;
}

main .ticket-content-data .ticket-search p {
	position: relative;
	float: left;
	color: rgb(144, 144, 144);
	top: 40px;
}

main .ticket-content-data .ticket-search .search-input {
	position: relative;
	float: right;
	padding: 3px;
	top: 40px;
}



main .ticket-home-data .ticket-content-data .ticket-body table {
	position: relative;
	table-layout: fixed;
	left: 50%;
	top: 250px;
	transform: translate(-50%, -50%);
	border-collapse: collapse;
	width: 100%;
	border-left: 0px solid;
  	border-right: 0px solid;
  	border-top: 0px solid;
 	border-bottom: 1px solid black;
}



main .ticket-home-data .ticket-content-data .ticket-body table tbody{
	border-bottom: 1px solid #ddd;
}


main .ticket-home-data .ticket-content-data .ticket-body table tbody img {
	width: 36px;
	height: 36px;
	border-radius: 50%;
	object-fit: cover;
	cursor: pointer;
}


main .ticket-home-data .ticket-content-data .ticket-body table tr {
	transition: all .2s ease-in;
	cursor: pointer;
}

main .ticket-home-data .ticket-content-data .ticket-body table th {
	padding: 6px 24px;
	text-align: left;
	border-bottom: 1px solid #000000;
}

main .ticket-home-data .ticket-content-data .ticket-body table td {
	padding: 18px 18px;
	text-align: left;
	/* border-bottom: 1px solid #ddd; */
}

main .ticket-home-data .ticket-content-data .ticket-body td.open {
    background-color: rgb(64, 219, 64);
    border-radius: 10px;
}

main .ticket-home-data .ticket-content-data .ticket-body td.closed {
    background-color: rgb(228, 66, 66);
    border-radius: 10px;
}

main .ticket-home-data .ticket-content-data .ticket-body p {
	display: inline-block;
	position: absolute;
	margin: 35px 35px;
	text-align: left;
	bottom: 0;
	left: 0;
}

main .ticket-home-data .ticket-content-data .ticket-body .pagination {
	display: inline-block;
	position: absolute;
	margin: 30px 25px;
	text-align: left;
	bottom: 0;
	right: 0;
}

main .ticket-home-data .ticket-content-data .ticket-body .pagination a {
	color: black;
	float: left;
	padding: 8px 16px;
	text-decoration: none;
}



/* TICKET HOME END */

/* TICKET DETAIL */

.row {
	display: flex;
}
  
  /* Create two equal columns that sits next to each other */
.column {
	flex: 50%;
	padding: 10px;
	height: 625px; /* Should be removed. Only for demonstration */
	border-right: 1px solid #dbdbdb;
	border-bottom: 1px solid #dbdbdb;
}

main .ticket-card {
	display: flex;
	grid-gap: 20px;
	/* margin-top: 20px; */
	flex-wrap: wrap;
	padding: 0 10px;
}

main .ticket-card .ticket-detail {
	flex-grow: 1;
	flex-basis: 400px;
	margin-top: 20px;
	padding: 20px;
	height: 100%;
	background: var(--light);
	border-radius: 3px;
	box-shadow: 4px 4px 16px rgba(0, 0, 0, .1);
}

main .ticket-detail #ticket-head {
	display: flex;
	position: absolute;
	width: 745px;
	padding: 20px;
	top: 9%;
	border-radius: 3px;
	background-color: orange;
}

main .ticket-detail .menu {
	position: relative;
	display: flex;
	justify-content: right;
	bottom: 30px;
	right: 10px;
	align-items: center;
}

main .ticket-detail .menu .icon {
	cursor: pointer;
}

main .ticket-detail .menu-link {
	position: absolute;
	top: calc(100% + 10px);
	right: 0;
	width: 140px;
	background: var(--light);
	border-radius: 10px;
	box-shadow: 4px 4px 16px rgba(0, 0, 0, .1);
	padding: 10px 0;
	z-index: 100;
	opacity: 0;
	pointer-events: none;
	transition: all .3s ease;
}

main .ticket-detail .menu-link.show {
	top: 100%;
	opacity: 1;
	pointer-events: visible;
}

main .ticket-detail .menu-link a {
	display: block;
	padding: 6px 16px;
	font-size: 14px;
	color: var(--dark);
	transition: all .3s ease;
}

main .ticket-detail .menu-link a:hover {
	background: var(--grey);
}

/* TICKET HEAD END */

.ticket-row {
	display: flex;
	height: 100px;
	top: 30px;
}
  
  /* Create two equal columns that sits next to each other */
.ticket-column {
	flex: 50%;
	margin-top: 30px;
	padding: 10px;
	border-bottom: 1px solid #dbdbdb;
}

.ticket-column h4 {
	position: relative;
	top: -20px;
}

.ticket-column p {
	position: relative;
	top: -15px;
	left: 10px;
}
/* TICKET DETAIL END */


/* COMMENT DETAIL */

.column .comment-form form {
	display: flex;
	float: right;
	margin: 20px;
}

.column .comment-form {
	display: block;
}

.column .comment-form .search {
	width: 500px;
	height: 20px;
}

.column .comment-form .search input {
	width: 100%;
	margin-right: 20px;
	padding: 3px;
}

.column .comment-form button {
	text-align: right;
	padding: 5px 10px;
	margin-left: 20px;
	background-color: rgb(0, 162, 255);
	color: white;
	border-radius: 3px;
}

main .comment-card {
	display: relative;
	top: 20px;
	grid-gap: 20px;
	margin-top: 20px;
	flex-wrap: wrap;
	padding: 0 10px;
}

main .comment-card .comment-detail {
	flex-grow: 1;
	position: relative;
	top: 80px;
	padding: 20px;
	height: 100%;
	width: 100%;
	background: var(--light);
	border-radius: 3px;
	box-shadow: 4px 4px 16px rgba(0, 0, 0, .1);
}

main .comment-detail #comment-head {
	display: flex;
	position: absolute;
	width: 745px;
	top: -35px;
	padding: 20px;
	border-radius: 3px;
	background-color: orange;
}

main .comment-detail .comment-search {
	display: flex;
	justify-content: space-between;
	width: 745px;
}

main .comment-detail .comment-search p {
	position: relative;
	top: 7px;
	color: rgb(144, 144, 144);
}

main .comment-detail .comment-search .search-input {
	padding: 3px;
}

main .comment-detail table {
	position: relative;
	table-layout: fixed;
	border-collapse: collapse;
	width: 99%;
	margin-top: 15px;
}

main .comment-detail tr {
	cursor: pointer;
}

main .comment-detail th {
	padding: 3px;
	text-align: left;
	border-bottom: 1px solid #000000;
}

main .comment-detail td {
	padding: 3px;
	text-align: left;
	border-bottom: 1px solid #ddd;
}



main .comment-detail .comment-pagination p {
	display: inline-block;
	position: relative;
	/* justify-content: space-between; */
	margin-top: 20px;
	text-align: left;
	bottom: 0;
	right: 0; 
}

main .comment-detail .comment-pagination .messages-links {
	color: black;
	display: inline;
	float: right;
	margin-top: 20px;
	/* padding: 4px 8px; */
	text-decoration: none;
}

main .chat-box {
	width: 100%;
	max-height: 360px;
	overflow-y: auto;
	scrollbar-width: none;
}
main .chat-box::-webkit-scrollbar {
	display: none;
}
main .chat-box .day {
	text-align: center;
	margin-bottom: 10px;
}
main .chat-box .day span {
	display: inline-block;
	padding: 6px 12px;
	border-radius: 20px;
	background: var(--light-blue);
	color: var(--blue);
	font-size: 12px;
	font-weight: 600;
}
main .chat-box .msg img {
	width: 28px;
	height: 28px;
	border-radius: 50%;
	object-fit: cover;
}
main .chat-box .msg {
	display: flex;
	grid-gap: 6px;
	align-items: flex-start;
}
main .chat-box .profile .username {
	font-size: 14px;
	font-weight: 600;
	display: inline-block;
	margin-right: 6px;
}
main .chat-box .profile .time {
	font-size: 12px;
	color: var(--dark-grey);
}
main .chat-box .chat p {
	font-size: 14px;
	padding: 6px 10px;
	display: inline-block;
	max-width: 400px;
	line-height: 150%;
}
main .chat-box .msg:not(.me) .chat p {
	border-radius: 0 5px 5px 5px;
	background: var(--blue);
	color: var(--light);
}
main .chat-box .msg.me {
	justify-content: flex-end;
}
main .chat-box .msg.me .profile {
	text-align: right;
}
main .chat-box .msg.me p {
	background: var(--grey);
	border-radius: 5px 0 5px 5px;
}
main form {
	margin-top: 6px;
}
main .form-group {
	width: 100%;
	display: flex;
	grid-gap: 10px;
}
main .form-group input {
	flex-grow: 1;
	padding: 10px 16px;
	border-radius: 5px;
	outline: none;
	background: var(--grey);
	border: none;
	transition: all .3s ease;
	width: 100%;
}
main .form-group input:focus {
	box-shadow: 0 0 0 1px var(--blue), 0 0 0 4px var(--light-blue);
}
main .btn-send {
	padding: 0 16px;
	background: var(--blue);
	border-radius: 5px;
	color: var(--light);
	cursor: pointer;
	border: none;
	transition: all .3s ease;
}
main .btn-send:hover {
	background: var(--dark-blue);
}


/* COMMENT DETAIL END */


/* TICKET HISTORY */

main .ticket-history-card {
	display: flex;
	grid-gap: 20px;
	margin-top: 20px;
	flex-wrap: wrap;
	padding: 0 10px;
}

main .ticket-history-card .ticket-history-detail {
	flex-grow: 1;
	flex-basis: 400px;
	margin-top: 20px;
	padding: 20px;
	height: 100%;
	background: var(--light);
	border-radius: 3px;
	box-shadow: 4px 4px 16px rgba(0, 0, 0, .1);
}

main .ticket-history-detail #ticket-history {
	display: flex;
	position: relative;
	top: -55px;
	width: 745px;
	padding: 20px;
	border-radius: 3px;
	background-color: orange;
}

main .ticket-history-detail .history-search p {
	position: relative;
	float: left;
	color: rgb(144, 144, 144);
	bottom: 40px;
}

main .ticket-history-detail .history-search .search-input {
	position: relative;
	float: right;
	padding: 3px;
	bottom: 40px;
}

main .ticket-history-detail table {
	position: relative;
	table-layout: fixed;
	border-collapse: collapse;
	width: 99%;
	top: -20px;
}

main .ticket-history-detail tr {
	cursor: pointer;
}

main .ticket-history-detail th {
	padding: 6px 12px;
	text-align: left;
	border-bottom: 1px solid #000000;
}

main .ticket-history-detail td {
	padding: 6px 12px;
	text-align: left;
	border-bottom: 1px solid #ddd;
}

main .ticket-history-detail .history-pagination {
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
}



/* TICKET HISTORY ENDS */


/* ATTACHMENT */


.column .attachment-form form {
	display: flex;
	/* float: right; */
	margin: 20px;
}

.column .form-control-file {
	padding-top: 5px;
	/* background-color: blue; */
}



.column .attachment-form {
	display: block;
}

.column .attachment-form .search {
	width: 70%;
	height: 20px;
}

.column .attachment-form .search input {
	width: 100%;
	margin-right: 20px;
	padding: 3px;
}

.column .attachment-form button {
	text-align: right;
	padding: 5px 10px;
	margin-left: 20px;
	background-color: rgb(0, 162, 255);
	color: white;
	border-radius: 3px;
}

main .attachment-card {
	display: relative;
	/* top: 20px; */
	grid-gap: 20px;
	margin-top: 20px;
	flex-wrap: wrap;
	padding: 0 10px;
}

main .attachment-card .attachment-detail {
	flex-grow: 1;
	position: relative;
	top: 40px;
	padding: 20px;
	height: 100%;
	width: 100%;
	background: var(--light);
	border-radius: 3px;
	box-shadow: 4px 4px 16px rgba(0, 0, 0, .1);
}

main .attachment-detail #attachment-head {
	display: flex;
	position: absolute;
	width: 745px;
	top: -35px;
	padding: 20px;
	border-radius: 3px;
	background-color: orange;
}

main .attachment-detail .attachment-search {
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
	width: 745px;
}

main .attachment-detail .attachment-search p {
	position: relative;
	top: 7px;
	color: rgb(144, 144, 144);
}

main .attachment-detail .attachment-search .search-input {
	padding: 3px;
}


main .attachment-detail table {
	position: relative;
	table-layout: fixed;
	border-collapse: collapse;
	width: 99%;
	margin-top: 15px;
}

main .attachment-detail tr {
	cursor: pointer;
}

main .attachment-detail th {
	padding: 3px;
	text-align: left;
	border-bottom: 1px solid #000000;
}

main .attachment-detail td {
	padding: 3px;
	text-align: left;
	border-bottom: 1px solid #ddd;
}

main .attachment-detail .attachment-pagination {
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
}



/* ATTACHMENT END */