{% extends 'base.html' %}
{% block htmlhead %}
{% load static %}
<link rel="stylesheet" href="{% static 'styles/manage.css' %}" />
{% endblock htmlhead %}

{% block content %}
<main id="content">
  <h1 class="title">Manage Ticket Users</h1>
  <div class="info-data">
  </div>
  <div class="row">
    <div class="column">
      Select 1 or more Users
      <form method="POST">
        {% csrf_token %}
        <div class="manage-border">
          
          <select name="assignee" id="assignee">
            <option value="none">None</option>
            {% for user in users %}
            <option value="{{ user.id }}">{{ user.username }}</option>
            {% endfor %}
          </select>
          <!-- <div class="manage-box">
            <p>Lorem ipsum dolor sit amet.</p>
            <p>Lorem ipsum dolor sit amet.</p>
            <p>Lorem ipsum dolor sit amet.</p>
            <p>Lorem ipsum dolor sit amet.</p>
            <p>Lorem ipsum dolor sit amet.</p>
          </div> -->
          
        </div>
        <div class="assign">
         <br> Select Ticket to assign <br>
          <select name="ticket" id="ticket">
            {% for ticket in tickets %}
              <option value="{{ ticket.id }}">{{ ticket.name }}</option>
            {% endfor %}
          </select>
          <button class="btn-assign">Submit</button>
        </div>
      </form>
      <div class="all-users-card">
        <div class="all-users-detail">
          <h3 id="all-users">All Users</h3>
          <div class="history-search">
            <p>Show # Entries</p>
            <form action="">
              <input type="text" name="search" class="search-input" placeholder="Search" value="">
            </form>
            
          </div>
          <table>
            <thead>
              <tr>
              <th>User Name</th>
              <th>Email</th>
              <th></th>
              <th>Role</th>
              </tr>
            </thead>
            <tbody>
              {% for user in users %}
              <tr>
                <td>{{user.username}}</td>
                <td>{{user.email}}</td>
                <td></td>
                <td>{{user.get_account_type_display}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          
          <div class="history-pagination">
            <p>Showing 1 to 5 of 5 entries </p>
            <div class="history-links">
            {% if page_obj.has_previous %}
            
              <a href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
            {% else %}
              
            {% endif %}

            {% for page in page_obj.paginator.page_range %}
              {% if page_obj.number == page %}
                <a href="#" class="active">{{ page }}</a>
              {% else %}
                <a href="?page={{ page }}">{{ page }}</a>
              {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
              <a href="?page={{ page_obj.next_page_number }}">&raquo;</a>
            {% else %}
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}